.alert {
  padding: 16px;
  margin-top: 8px;
  margin-bottom: 16px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
  font-family: sans-serif;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,.125);
}

.alert-info {
  color: #31708f;
  background-color: #D9EDF7;
  border-color: #BCE8F1;
}

.alert-success {
  color: #3C763D;
  background-color: #DFF0D8;
  border-color: #D6E9C6;
}

.alert-warning {
  color: #8A6D3B;
  background-color: #FCF8E3;
  border-color: #FAEBCC;
}

.alert-danger {
  color: #A94442;
  background-color: #F2DEDE;
  border-color: #EBCCD1;
}
